@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
  --point-color: #e61950;
}

.btn-point {
    color: #fff !important;
    background-color: var(--point-color) !important;
    border-color: var(--point-color) !important;
}

.btn-point:hover {
    color: #000 !important;
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}