.top-bar{

    font-family: 'yg-jalnan';
    width: 100%;
    height: 200px;

    background-color: rgb(230, 25, 78);
    background-position: center;
    background-size: cover;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body {
    background-position: center;
    background-size: cover;
}

h1 {
    font-weight: bold;
}

.login {
    width: 500px;
    margin: 60px auto 0px auto;
    padding-bottom: 60px;
}

.login > h3 {
    text-align: center;

    font-weight: bold;
    padding-bottom: 10px;
}
.input-group-text{
    width: 100px;
}
.buttons{
    margin: 0 auto;
    text-align: center;
}
.mybtn{
    background-color: rgb(230, 25, 78);
    color: white;
    display :inline-block;
}