<header class="d-flex flex-wrap align-items-center justify-content-between px-3 py-3 border-bottom">
    <a href="/" class="logo d-flex align-items-center mb-2 mb-md-0 text-white text-decoration-none">요기어때</a>

    <div class="text-end">
        {% if status == 1 %}
            <a href="#" class="btn btn-link btn-sm text-white me-2" onclick="logout()">Logout</a>
        {% else %}
            <a href="/login" class="btn btn-link btn-sm text-white me-2" >Login</a>
            <a href="/register" class="btn btn-sm signup" >Sign-up</a>
        {% endif %}
    </div>
</header>