<!DOCTYPE html>
<html lang="ko">
<head>

    {% include 'common_head.html' %}
    <link href='{{ url_for("static", filename="css/header.css") }}' rel="stylesheet">
    <link href='{{ url_for("static", filename="css/footer.css") }}' rel="stylesheet">
    <link href='{{ url_for("static", filename="css/main.css") }}' rel="stylesheet">
    <script type="text/javascript" src='{{ url_for("static", filename="js/header.js") }}'></script>
    <script type="text/javascript" src='{{ url_for("static", filename="js/index.js") }}'></script>

    <title>요기어때 - 동작</title>

    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
</head>

<body>

{% include 'header.html' %}

<main>

    <div class="map_container">
        {% include 'map.html' %}

        <div class="intro_wrap">
            <div class="intro_con">
                <span class="text">요</span>
                <span class="text">기</span>
                <span class="text">어</span>
                <span class="text">때</span>
            </div>
        </div>

    </div>

    <div class="album py-5">
        <div class="container">

            <div class="d-flex flex-wrap align-items-center justify-content-between mb-3">
                <div class="d-flex flex-wrap align-items-center">
                    <div class="btn-group me-2">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            {% if result.order == 'new' %}
                                최신순
                            {% elif result.order == 'recommend' %}
                                추천순
                            {% elif result.order == 'view' %}
                                조회순
                            {% endif %}
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="?order_by=new" class="dropdown-item">최신순</a>
                            </li>
                            <li>
                                <a href="?order_by=recommend" class="dropdown-item">추천순</a>
                            </li>
                            <li>
                                <a href="?order_by=view" class="dropdown-item">조회순</a>
                            </li>
                        </ul>
                    </div>

                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="viewOnlyMyPost">
                        <label class="form-check-label" for="viewOnlyMyPost">내가 쓴 글 보기</label>
                    </div>
                </div>

                <a href="#" class="btn btn-point btn-sm" onclick="check_login()">글쓰기</a>
            </div>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for post in result.posts %}
                <div class="col">
                    <div class="card shadow-sm" onclick="post_detail('{{ post['_id'] | string}}')">
                        <div class="card-img-top">
                            <img src="{{post.file}}" onerror='this.onerror=null; this.src="../static/img/logo.png";'>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{post.title}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">{{ post.user_id }}</small>
                                <small class="text-muted">{{ post.date.strftime('%Y/%m/%d %H:%M:%S') }}</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>

{% include 'footer.html' %}

</body>

</html>